/**
 * Frontend Styling
 */
button.button-alt {
	background: none !important;
	color: var(--e-global-color-primary) !important;
	border: 1px solid var(--e-global-color-primary) !important;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	transition: all 0.3s;
}
button.button-alt:hover {
	background: var(--e-global-color-primary) !important;
	color: #fff !important;
}
/* -- Loader -- */
.mmd-loader-bg {
	background-color: #fff;
	box-shadow: 0 2px 14px rgb(0 0 0 / 0.25);
	border-radius: 8px;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.mmd-loading-route {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	background: rgb(0 0 0 / 20%);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 998;
}
.mmd-load-route {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	min-height: 280px;
	flex: 1;
}
/* -- MMD Loader -- */
.mmd-loader {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	z-index: 2;
}
.mmd-loader * {
	box-sizing: border-box;
}
.mmd-loader-sector {
	border-radius: 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	border: 3px solid #b1b5d52b;
	mix-blend-mode: overlay;
}

.mmd-loader-sector-one {
	animation: rotate 2s ease-out infinite;
	border-top: 3px solid #2e9632;
}
.mmd-loader-sector-two {
	animation: rotate 2.5s ease-in infinite;
	border-top: 3px solid #2b2b2b;
}
.mmd-loader-sector-three {
	animation: rotate 1.5s ease-in-out infinite;
	border-top: 3px solid #6bd362;
}
.mmd-route .mmd-loader-sector {
	border-width: 2px;
}
.mmd-loader-text {
	font-size: 12px;
	text-align: center;
	margin: 8px 0 0;
	padding: 0;
}
@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
/* -- Toast Notifications -- */
.mmd-toast button.Toastify__close-button {
	display: none !important;
}
.Toastify__toast.mmd-toast {
	text-align: center;
	font-size: 14px;
	letter-spacing: 0.4px;
	background-color: #3f4143;
}
.Toastify__toast.mmd-toast .Toastify__toast-body {
	padding: 0 10px;
}
.Toastify__toast.mmd-toast a,
.Toastify__toast span.mmd-toast-link {
	color: #ffffff !important;
	text-decoration: underline;
	font-weight: bold;
	margin: 0 5px;
	letter-spacing: 0.4px;
	cursor: pointer;
}
.Toastify__toast.mmd-toast a:hover,
.Toastify__toast span.mmd-toast-link:hover {
	color: var(--e-global-color-4a69d24) !important;
}
/* -- Mapbox Search Popup-- */
.mmd-popup-bg {
	background-color: rgb(0 0 0 / 20%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 998;
}
.mmd-popup {
	display: flex;
	position: absolute;
	top: 65px;
	left: 50%;
	transform: translate(-50%, 0);
	background-color: #ffffff;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.35);
	z-index: 1000;
	width: 60%;
	max-width: 540px;
	max-height: 80%;
	min-width: 540px;
}
body.woocommerce-account .mmd-popup-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 995;
}
body.woocommerce-account .mmd-popup {
	position: fixed;
	top: 80px;
}
.mmd-popup-inner {
	position: relative;
	flex: 1;
}
.mmd-popup-inner.saveshare {
	max-height: 80%;
	overflow-y: scroll;
}
button.mmd-popup-close {
	background: none !important;
	color: #fff;
	border: 0;
	margin: 0;
	padding: 4px;
	position: absolute;
	top: -30px;
	right: 0px;
	font-size: 20px;
}
button.mmd-popup-close:hover {
	color: #000;
}

/* -- Route Save/Edit Form -- */
.mmd-popup .content {
	padding: 10px;
	font-size: 14px;
}
.mmd-popup .mmd-form-row {
	margin: 0 0 16px;
}
.mmd-popup h3,
body.woocommerce-account .mmd-popup h3 {
	margin: 8px 0 12px;
	padding: 0;
	font-size: 20px;
	text-align: center;
}
.mmd-form-row > label {
	display: block;
	margin: 0 0 6px;
	font-size: 12px;
}
.mmd-form-row > label span.required {
	color: #c92121;
	margin-left: 3px;
}
.mmd-popup .mmd-form-row input,
.mmd-popup .mmd-form-row textarea {
	font-size: 14px;
	border: 1px solid #d8d8d8;
	padding: 5px 8px;
	font-size: 13px;
}
.mmd-share-btns {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.mmd-share-tosave {
	text-align: center;
	margin: 40px 0 15px;
	font-size: 17px;
}
/* - Tags - */
.tags-input {
	display: flex;
	flex-direction: column;
	font-size: 13px;
}
.tags-list {
	display: flex;
	margin: 4px 0 8px;
}
.tags-input input {
	border: none;
	flex: 1;
	padding: 5px;
	outline: none;
}
.tag {
	background-color: #6ab139;
	color: white;
	border-radius: 3px;
	padding: 5px;
	margin-right: 5px;
	display: flex;
	align-items: center;
}
.tag-close {
	margin-left: 5px;
	cursor: pointer;
}
/* - Activities - */
.radio-group {
	margin: 10px 0;
}
.woocommerce-account .radio-group {
	padding: 0 5px;
}
.radio-item {
	display: inline-flex !important;
	align-items: center;
	box-shadow: 0 0 0 1px #efefef, 0 1px 8px rgb(0 0 0 / 20%);
	border-radius: 4px;
	background-color: #fafafa;
	margin: 2px 8px 10px 0 !important;
	padding: 10px;
	font-size: 13px;
	color: #444 !important;
	cursor: pointer;
	text-transform: capitalize;
	transition: all 0.3s;
}
.radio-item:hover {
	box-shadow: 0 0 0 1px #d6d6d6, 0 1px 8px rgb(0 0 0 / 20%);
}
.radio-item input[type="radio"] {
	margin: 0 4px 0 0;
}
.shared-activity-note {
	font-size: 0.9em;
	color: #858585;
	margin: 0 0 0 4px;
}
/* -- Toggle Switch -- */
.toggle-switch-container {
	margin: 0 0 30px;
}
.toggle-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
	margin: 0 0 0 15px;
}
.toggle-switch input.toggle-switch-checkbox {
	opacity: 0;
	width: 0;
	height: 0;
}
.toggle-switch-slider {
	border-radius: 34px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: all 0.18s ease-in-out 0s;
}
.toggle-switch-slider:before {
	border-radius: 34px;
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	transition: all 0.18s ease-in-out 0s;
}
.toggle-switch input.toggle-switch-checkbox:checked + .toggle-switch-slider {
	background-color: #6ab139;
}

.toggle-switch input.toggle-switch-checkbox:focus + .toggle-switch-slider {
	box-shadow: 0 0 1px #6ab139;
}
.toggle-switch
	input.toggle-switch-checkbox:checked
	+ .toggle-switch-slider:before {
	transform: translateX(16px);
}
/* -- MMD Trix Editor-- */
trix-editor {
	font-size: 13px;
	min-height: 85px;
	color: #222;
}
trix-toolbar .trix-button-row {
	padding: 0 3px;
}
trix-toolbar .trix-button-row .trix-button-group {
	border-radius: 4px 4px 0 0;
	border-bottom: 0;
	margin: 0;
}
trix-toolbar .trix-button-row .trix-button-group .trix-button {
	background-color: #dfdfdf;
	border: 0;
	padding: 0 20px;
}
trix-toolbar .trix-button-row .trix-button-group .trix-button--icon {
	font-size: 11px;
}
trix-toolbar .trix-button-row .trix-button-group .trix-button:hover,
trix-toolbar .trix-button-row .trix-button-group .trix-button.trix-active {
	background-color: #c3c3c3;
}
.trix-button-group .trix-button.trix-button--icon-attach,
.trix-button-group.trix-button-group--file-tools,
.trix-button-group.trix-button-group--history-tools,
.trix-button-group-spacer {
	display: none !important;
}
.mmd-button-group {
	display: flex;
	align-items: center;
	gap: 12px;
}
.mmd-button-group button[type="submit"]:disabled {
	background-color: grey;
	opacity: 0.8;
}
