#mmd-root .mapboxgl-map {
	position: absolute;
}
#mmd-root .mapboxgl-ctrl-attrib-inner {
	display: none !important;
}
/* -- MMD Box -- */
.mmd-boxwrap {
	position: absolute;
	top: 18px;
	left: 12px;
	z-index: 99;
	transition: left 0.4s ease-in-out 0.1s;
}
body.mmd-box-hide .mmd-boxwrap {
	left: -298px;
}
.mmd-box {
	background-color: #fff;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%), 0 1px 10px rgb(0 0 0 / 10%);
	border-radius: 4px;
	display: flex;
	align-items: stretch;
	margin: 0 0 8px;
	font-size: 13px;
	position: relative;
	z-index: 11;
	max-width: 298px;
	min-width: 298px;
}
.mmd-box-toggle {
	position: absolute;
	right: -17px;
	top: 5px;
	background-color: #596166;
	border: 1px solid #ccc;
	border-left: 0;
	box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
	border-radius: 0 4px 4px 0;
	color: #fff;
	margin: 0;
	padding: 6px 4px;
	font-size: 14px;
	z-index: 21;
	cursor: pointer;
}
/* -- Map Info -- */
.mmd-box-left {
	background-color: #596166;
	border-radius: 4px 0 0 4px;
	min-width: 118px;
	padding: 8px;
	color: #fff;
}
.mmd-box-right {
	border-radius: 0 4px 4px 0;
	min-width: 180px;
	padding: 8px;
}
.mmd-box h5.box-title {
	color: inherit;
	font-size: 11px;
	letter-spacing: 0.2px;
	font-weight: 500;
	margin: 0 0 5px;
	padding: 0;
	text-transform: uppercase;
}
.mmd-box select#mmd-units {
	width: 125px;
	display: inline-block;
	border: 0;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 5%);
	margin: 0 0 0 8px;
	padding: 2px 2px 3px;
	font-size: 13px;
}
.mmd-last-distance {
	font-size: 18px;
	margin: 2px 0 6px;
}
.mmd-latlng {
	font-size: 10px;
	margin-top: 1px;
}
.mmd-distance {
	font-size: 32px;
	margin: 6px 0 8px;
}
.mmd-box select#mmd-units:hover {
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 24%);
}
/* -- Map Style Select -- */
.mmd-map-style-selector {
	background-color: #fff;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%), 0 1px 10px rgb(0 0 0 / 10%);
	border-radius: 4px;
	padding: 10px;
	margin: 20px 0 0;
}
.mmd-boxwrap select#mmd-map-style {
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 5%);
	margin: 10px 0 0;
	padding: 2px 2px 3px;
	font-size: 13px;
}
/* -- Map Controls -- */
.mmd-controls {
	display: flex;
	align-items: space-between;
}
.mmd-control {
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%), 0 1px 10px rgb(0 0 0 / 10%);
	border-radius: 4px;
	background-color: #596166;
	color: #fff;
	padding: 5px;
	width: 25px;
	height: 25px;
	margin: 0 2.5px;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.mmd-control:first-child {
	margin-left: 2px;
}
.mmd-control:last-child {
	margin-right: 0;
}
.mmd-control.fa-mountain-sun {
	font-size: 13px;
}
.mmd-control.disabled {
	opacity: 0.5;
	cursor: default;
}

.mmd-control.center-on-new.active,
.mmd-control.snapto.active,
.mmd-poi-controls .mmd-control.active,
.mmd-control.elevation.active {
	background-color: #2e9632;
	color: white;
}

/* -- Search -- */
.search-input {
	border: 1px solid #c5c5c5;
}
.search-loading {
	position: absolute;
	background-color: #fff;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.25);
	margin: 0;
	padding: 30px 20px;
	font-size: 14px;
	width: 100%;
	left: 0;
	top: 100%;
	min-height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.search-suggestions {
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	left: 0;
	top: 100%;
}
.search-suggestion {
	margin: 0;
	padding: 4px 12px;
	list-style-type: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	font-size: 14px;
	cursor: pointer;
	transition: all 0.3s;
}
.search-suggestion:last-child {
	box-shadow: none;
}
.search-suggestion:hover {
	background-color: #f7f7f7;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 3px 0 0 #39b03f;
}
.mmd-no-search {
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.25);
	background-color: #fff;
	padding: 20px 10px;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
}
/* -- Save & Share -- */
.mmd-tabs {
	display: flex;
	align-items: center;
	margin: 0 0 -1px;
	padding: 0;
}
.mmd-tabs li.tab {
	flex: 1;
	margin: 0;
	padding: 8px 10px;
	list-style-type: none;
	text-align: center;
	font-size: 13px;
	font-weight: 500;
	cursor: pointer;
}
.mmd-tabs li.tab.active {
	border-radius: 4px 4px 0 0;
	border: 1px solid #eaeaea;
	background-color: #fff;
	border-bottom: 0;
	cursor: default;
}
.mmd-contents {
	border-radius: 0 0 4px 4px;
	border: 1px solid #eaeaea;
}
/* -- Route Data Box -- */
.mmd-rdata {
	background-color: #fff;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%), 0 1px 10px rgb(0 0 0 / 10%);
	border-radius: 4px;
	margin: 8px 0 0;
	position: relative;
	z-index: 11;
	padding: 10px 12px 12px;
	max-width: 298px;
	min-width: 298px;
}
.mmd-rdata-title {
	margin: 0 0 8px;
	padding: 0;
	font-size: 17px;
	text-transform: capitalize;
}
.mmd-rdata-desc {
	font-size: 13px;
	margin: 0;
	padding: 0;
}
.mmd-rdata-btns {
	margin: 20px 0 0;
}
.mmd-rdata .mmd-rdata-btn {
	background-color: var(--e-global-color-secondary);
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 10%), 0 1px 8px rgb(0 0 0 / 10%);
	border-radius: 3px;
	margin: 0 5px 0 0;
	padding: 5px 10px 6px;
	font-size: 13px;
	color: #fff !important;
}
.mmd-rdata .mmd-rdata-btn:last-child {
	margin-right: 0;
}
.mmd-rdata .mmd-rdata-btn:hover {
	background-color: var(--e-global-color-primary);
}

/* -- Slider Marker -- */
.current-position-marker {
	background-color: #2e9632;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	cursor: pointer;
	z-index: 20;
}
.current-position-marker.non-editable {
	background-color: #d31212;
	opacity: 0.5;
	cursor: not-allowed;
}
.mmd-route-slider {
	position: absolute;
	z-index: 99;
	top: -18px;
	width: calc(100% - 6px);
	margin: 0 0 0 3px;
}
.mmd-route-slider input[type="range"].mmd-slider {
	-webkit-appearance: none;
	margin: 0;
	width: 100%;
}
.mmd-route-slider input[type="range"].mmd-slider:focus {
	outline: none;
}
.mmd-route-slider
	input[type="range"].mmd-slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	box-shadow: none;
	background: #6f7579;
	border-radius: 2px 2px 0 0;
	border: 0;
}
.mmd-route-slider input[type="range"].mmd-slider::-webkit-slider-thumb {
	box-shadow: none;
	border: 1px solid #596166;
	height: 16px;
	width: 10px;
	border-radius: 4px 4px 3px 3px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -11px;
	cursor: pointer;
}
.mmd-route-slider
	input[type="range"].mmd-slider:focus::-webkit-slider-runnable-track {
	background: #6f7579;
}
.mmd-route-slider input[type="range"].mmd-slider::-moz-range-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	box-shadow: none;
	background: #6f7579;
	border-radius: 2px 2px 0 0;
	border: 0.2px solid #010101;
}
.mmd-route-slider input[type="range"].mmd-slider::-moz-range-thumb {
	box-shadow: none;
	border: 1px solid #596166;
	height: 16px;
	width: 10px;
	border-radius: 4px 4px 3px 3px;
	background: #ffffff;
	cursor: pointer;
}
.mmd-route-slider input[type="range"].mmd-slider::-ms-track {
	width: 100%;
	height: 5px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 10px 0;
	color: transparent;
}
.mmd-route-slider input[type="range"].mmd-slider::-ms-fill-lower {
	background: #6f7579;
	border: 0;
	border-radius: 2px 2px 0 0;
	box-shadow: none;
}
.mmd-route-slider input[type="range"].mmd-slider::-ms-fill-upper {
	background: #6f7579;
	border: 0;
	border-radius: 2px 2px 0 0;
	box-shadow: none;
}
.mmd-route-slider input[type="range"].mmd-slider::-ms-thumb {
	box-shadow: none;
	border: 1px solid #596166;
	height: 16px;
	width: 10px;
	border-radius: 4px 4px 3px 3px;
	background: #ffffff;
	cursor: pointer;
}
.mmd-route-slider input[type="range"].mmd-slider:focus::-ms-fill-lower {
	background: #6f7579;
}
.mmd-route-slider input[type="range"].mmd-slider:focus::-ms-fill-upper {
	background: #6f7579;
}

/* -- Points of Interest -- */
.mmd-popup.poiform {
	max-width: 510px;
	min-width: 470px;
}
.mmd-popup.poiform .mmd-popup-inner > p {
	font-size: 13px;
}
.mmd-poi-marker {
	background-color: #fff;
	box-shadow: 0 1px 3px rgb(0 0 0 / 35%);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	padding: 5px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.mapboxgl-popup-content {
	width: fit-content;
	padding: 0;
}
.mapboxgl-popup-content button.mapboxgl-popup-close-button,
.mapboxgl-popup-content button.mmd-poi-close {
	background-color: #fff !important;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 0.15), 0 1px 4px rgb(0 0 0 / 5%) !important;
	border: 0;
	border-radius: 20px;
	margin: 0;
	padding: 0;
	color: #898989 !important;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	line-height: 1 !important;
	position: absolute;
	top: -4px;
	right: -4px;
}
.mapboxgl-popup-content button.mapboxgl-popup-close-button:hover {
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 1), 0 1px 4px rgb(0 0 0 / 5%) !important;
	color: #000 !important;
}
.mmd-poi-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	z-index: 1000;
}
.mmd-poi-form input,
.mmd-poi-form textarea {
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}
.mmd-poi-form button {
	margin-right: 10px;
}
.mmd-poi-content {
	width: 280px;
	padding: 5px;
	position: relative;
}
.mmd-poi-content h3 {
	margin: 0 0 5px;
	padding: 0;
	font-size: 19px;
}
.mmd-poi-content p {
	margin-bottom: 12px;
	font-size: 14px;
}
.mmd-poi-btns {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.mmd-poi-btns button {
	margin: 0 0 0 12px;
	padding: 4px 14px;
	cursor: pointer;
	font-size: 14px;
}
.mmd-poi-btns button:hover {
	color: #2e9632;
}
.mmd-poi-content .mmd-poi-btns {
	position: absolute;
	bottom: -5px;
	right: 0;
}
.mmd-poi-content .mmd-poi-btns button.poi-btn {
	background: none !important;
	color: #7a7a7a;
	margin: 0 0 0 8px;
	padding: 0 6px;
	text-align: center;
	font-size: 13px;
}
.mmd-poi-content .mmd-poi-btns button.poi-btn:hover {
	color: #2e9632 !important;
}
.poiform-icon {
	display: flex;
	align-items: center;
}
.poiform-icon select#poi-icon {
	border: 1px solid #d8d8d8;
	margin: 0;
	padding: 8px 5px;
	font-size: 13px;
	flex: 1;
}
.poiform-icon .poiform-icon-preview {
	width: 70px;
	text-align: center;
	padding: 2px 5px 2px 5px;
	font-size: 20px;
}
.poiform-icon .poiform-icon-preview .poicon {
	text-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
}
/* -- POI Controls -- */
.mmd-pois {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 8px 0 0;
}
ul.mmd-poi-list {
	margin: 0;
	padding: 0 0 0 2px;
	display: flex;
}
ul.mmd-poi-list li.mmd-poi-marker {
	font-size: 13px;
	width: 22px;
	height: 22px;
	margin: 0 4px 0 0;
	padding: 0;
}
.mmd-poi-controls {
	padding: 0 2px 0 0;
}
.mmd-poi-controls .mmd-control {
	font-size: 12px;
	width: 22px;
	height: 22px;
	padding: 2px;
}
/* -- Marker Colors -- */
.poicon.fa-heart {
	color: #ff4136;
}
.poicon.fa-star,
.poicon.fa-lightbulb {
	color: #ffd600;
}
.poicon.fa-flag {
	color: #2ecc40;
}
.poicon.fa-location-dot,
.poicon.fa-fish {
	color: #03a9f4;
}
.poicon.fa-info-circle,
.poicon.fa-circle-question,
.poicon.fa-water {
	color: #0a7bd4;
}
.poicon.fa-camera,
.poicon.fa-flag-checkered {
	color: #0c0c0c;
}
.poicon.fa-coffee {
	color: #795548;
}
.poicon.fa-utensils,
.poicon.fa-campground,
.poicon.fa-restroom {
	color: #ff851b;
}
.poicon.fa-person-running,
.poicon.fa-person-biking,
.poicon.fa-person-swimming,
.poicon.fa-person-hiking {
	color: #1a3356;
}
.poicon.fa-mountain-sun {
	color: #305619;
}
.poicon.fa-dove {
	color: #b0b7b4;
}
.poicon.fa-binoculars {
	color: #690d39;
}
.poicon.fa-tree {
	color: #12a022;
}
.poicon.fa-parking {
	color: #2f2f2f;
}
.poicon.fa-triangle-exclamation,
.poicon.fa-skull-crossbones,
.poicon.fa-circle-xmark,
.poicon.fa-suitcase-medical,
.poicon.fa-truck-medical {
	color: #ff4136;
}
.poicon.fa-landmark,
.poicon.fa-monument {
	color: #001f3f;
}

/* -- Elevation Profile -- */
.mmd-elevation-profile.full {
	position: absolute;
	bottom: 12px;
	left: 12px;
	right: 12px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
	padding: 10px;
	z-index: 10;
	height: 285px;
	z-index: 999;
}
.mmd-elevation-profile.full .mmd-elevation-totals {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	font-size: 14px;
	position: absolute;
	left: 12px;
	right: 12px;
	top: -25px;
	font-weight: bold;
	background-color: rgb(255 255 255 / 0.9);
	padding: 3px 8px 1px;
	border-radius: 5px 5px 0 0;
}
.mmd-elevation-profile.mini {
	position: absolute;
	bottom: 12px;
	left: 12px;
	z-index: 9;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%), 0 1px 10px rgb(0 0 0 / 10%);
	padding: 10px;
}
.mmd-elevation-profile.mini .mmd-elevation-totals {
	font-size: 14px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.mmd-elevation-profile.mini .mmd-elevation-totals span {
	font-weight: bold;
}
.mmd-elevation-profile .mmd-elevation-chart {
	height: 240px !important;
}
