.mmd-routes h3 {
	font-size: 26px;
	text-align: center;
	margin: 5px 0 15px !important;
	padding: 0;
}
.mmd-no-routes {
	padding: 20px 0 40px;
	text-align: center;
}
.mmd-user-routes .mmd-route {
	border-bottom: 1px solid rgb(0 0 0 / 10%);
	display: flex;
	align-items: baseline;
	padding: 8px 0;
	position: relative;
}
.mmd-user-routes .mmd-route .route-loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(0 0 0 / 10%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.mmd-user-routes .mmd-route:last-child {
	border-bottom: none;
}
.mmd-route.alt-background {
	background-color: #f7f7f7;
}
.mmd-user-routes .mmd-route h4.route-title {
	flex: 1;
	font-size: 16px;
	max-width: 158px;
	margin: 0;
	padding: 0 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
}
.mmd-user-routes .mmd-route.th,
.mmd-user-routes .mmd-route.th h4.route-title {
	font-weight: bold;
	color: #444;
	font-size: 15px;
}
.mmd-user-routes .mmd-route .route-desc {
	flex: 1;
	margin: 0;
	padding: 0 10px 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.mmd-user-routes .mmd-route .route-distance {
	flex: 1;
	max-width: 70px;
	text-align: center;
}
.mmd-user-routes .mmd-route .route-date {
	flex: 1;
	max-width: 100px;
	text-align: center;
}
.mmd-user-routes .mmd-route .route-controls {
	flex: 1;
	max-width: 100px;
	display: flex;
	align-items: baseline;
	justify-content: space-evenly;
}
.mmd-user-routes .mmd-route .route-controls .mmd-route-icon {
	cursor: pointer;
	color: var(--e-global-color-primary);
}
.mmd-user-routes .mmd-route .route-controls .mmd-route-icon:hover {
	color: var(--e-global-color-secondary);
}
.mmd-user-routes .mmd-route .route-controls .mmd-route-icon.delete:hover {
	color: #bd0808;
}

.mmd-route-pagination {
	display: flex;
	align-items: baseline;
	justify-content: center;
	margin: 40px 0 20px;
}
.mmd-route-pagination .route-pagination-btn {
	padding: 2px 10px;
	font-size: 13px;
	margin: 0 15px;
}
.mmd-route-pagination .route-pagination-btn:disabled {
	background-color: #999;
	opacity: 0.5;
}
.mmd-route-pagination .route-pagination-no {
	font-size: 13px;
	color: #444;
}

/* -- User Profile Picture -- */
#mmd-profile-picture {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0 20px;
}
.mmd-pp-placeholder {
	border: 2px solid #bebebe;
	box-shadow: 0 1px 12px rgb(0 0 0 / 18%);
	background-color: #555;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 52px;
	text-align: center;
}
#mmd-pp-upload,
.woocommerce-account .mmd-popup .content.save > p {
	display: none !important;
}
/* -- Toggle Switch -- */
.toggle-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
	margin: 0 0 0 15px;
}
.toggle-switch input.toggle-switch-checkbox {
	opacity: 0;
	width: 0;
	height: 0;
}
.toggle-switch-slider {
	border-radius: 34px;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: all 0.18s ease-in-out 0s;
}
.toggle-switch-slider:before {
	border-radius: 34px;
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	transition: all 0.18s ease-in-out 0s;
}
.toggle-switch input.toggle-switch-checkbox:checked + .toggle-switch-slider {
	background-color: #6ab139;
}
.toggle-switch input.toggle-switch-checkbox:focus + .toggle-switch-slider {
	box-shadow: 0 0 1px #6ab139;
}
.toggle-switch
	input.toggle-switch-checkbox:checked
	+ .toggle-switch-slider:before {
	transform: translateX(16px);
}
